h1{
  margin: 0 auto;
  font-size: 30px;
  margin-top: 2em;
}
.Row{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.clock-container svg{
  font-size: 100px;
}
.AddTodo{
  background-color: transparent;
  border: none;
}
.AddTodo:hover{
  cursor: pointer;
}
.AddTodo svg{
  font-size: 100px;
}
.clock-container{
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.clock-container .det{
margin-right: 1em;
width: max-content;
direction: flex;
gap: .5em;
direction: ltr;
}
.clock-container .det span{
  font-size: 30px;
  font-weight: 500;
  color: rgb(68, 68, 72);
}
.clock-container .det .Dates{
  direction: ltr;
}
.TableC{
  width: 80%;
  margin: 0 auto;
  direction: ltr;
  display: flex;
  flex-direction: column;
}
.TableC table{
  border: 20px solid black;
  background-color: rgb(29, 29, 29);
}
.TableC table td,
.TableC table th{
  color: rgb(206, 206, 206);
}
.highcharts-credits{
  display: none;
}